<div class="row" style="padding: 0">
    <section style="padding: 0 50px; width: 80%; margin: 0 auto;">
        <h1 style="text-align: center;">About Us</h1>
        <div class = "row">
            <h2 style="border-bottom: 2px solid black">Our History</h2>
            <div class= "col-md-8">
                <p>In nec felis vel tortor interdum ullamcorper. Vestibulum iaculis, 
                neque vitae scelerisque condimentum, ipsum purus feugiat felis, sagittis 
                dictum ligula massa ut augue. Fusce elementum, tellus eu euismod porta, 
                dolor metus varius nisi, eu interdum augue augue et augue. Etiam luctus 
                dolor eget est placerat, in feugiat nisl vehicula. Pellentesque facilisis 
                faucibus erat, in fermentum sem sagittis sed. Duis mollis metus vel nisl 
                pulvinar pharetra.  </p>
            </div>
            <div class="col-md-4">
                <%= image_tag("boone.jpg", size: "200x200", :alt => "Boone, North Carolina") %>
            </div>
        </div>
         <div class = "row">
            <h2 style="border-bottom: 2px solid black">Our Namesake</h2>
            <div class="col-md-4">
                <%= image_tag("swampfox.jpg", size: "200x200", :alt => "The Swamp Fox") %>
            </div>
            <div class="col-md-8">
                <p>In nec felis vel tortor interdum ullamcorper. Vestibulum iaculis, 
                neque vitae scelerisque condimentum, ipsum purus feugiat felis, sagittis 
                dictum ligula massa ut augue. Fusce elementum, tellus eu euismod porta, 
                dolor metus varius nisi, eu interdum augue augue et augue. Etiam luctus 
                dolor eget est placerat, in feugiat nisl vehicula. Pellentesque facilisis 
                faucibus erat, in fermentum sem sagittis sed. </p>    
            </div>
        </div>
         <div class = "row">
            <h2 style="border-bottom: 2px solid black">Meet the Founder</h2>
            <div class="col-md-8">
                <p>In nec felis vel tortor interdum ullamcorper. Vestibulum iaculis, 
                neque vitae scelerisque condimentum, ipsum purus feugiat felis, sagittis 
                dictum ligula massa ut augue. Fusce elementum, tellus eu euismod porta, 
                dolor metus varius nisi, eu interdum augue augue et augue. Etiam luctus 
                dolor eget est placerat, in feugiat nisl vehicula. </p>
            </div>
            <div class="col-md-4">
                <%= image_tag("HannahAndI.jpg", size: "200x200", :alt => "Hannah and Dad") %>
            </div>
        </div>
    </section>
</div>