<%= render 'layouts/nav' %>
<div class="container">
    <aside><%= render 'layouts/aside' %></aside>
    <main>  
        <h1>About Us</h1>
        <section class="about">
            <div class="about-heading">
                <h2>A Little History</h2>
            </div>
            <div class="about-content">
                <p>Before starting <span style="font-family: 'Stardos Stencil'; font-weight: 900;">
                General Issue</span>, Lew was an Army infantry officer and landscape 
                contractor.</p>  
                <p>As a contractor, he was constantly bombarded with calls from shady internet marketers 
                and web-design hucksters. He spent $1,000s on the latest tech tools and fads, often with zero 
                results.</p>
                <p>When he relocated to North Carolina, he realized craftsmen and contractors needed a reliable,
                honest, and knowledgeable web-design partner. He decided to open General Issue to help meet 
                this need.</p>    
            </div>
        </section>
        <section class="about">
            <div class="about-heading">
                <h2>Our Mission</h2>
            </div>
            <div class="about-content">
                <p>General Issue exists to help America's tradesmen, craftsmen and artisans achieve 
                success with 21st century websites and web applications.  We also help those who have 
                served America by giving 10% of our profits to veteran's organizations.</p>
                <p>If you're looking for solutions to help your business get to greener pastures in the 
                digital space, we can help.</p>    
            </div>
        </section>
        <section class="about">
            <div class="about-heading">
                <h2>Location:</h2>
            </div>
            <div class="about-content flex">
                <div class="about-content image"><img src="http://maps.google.com/maps/api/staticmap?center=Boone,NC&zoom=12&size=300x300" alt="Boone, NC"></img></div>
                <p>We're located in the heart of the High Country in Boone, Western North Carolina, home of 
                the App State Mountaineers.  We help clients throughout the US.</p>
            </div>
        </section>
    </main>
</div>