<h1 class="page-heading">About Us:</h1>
<div class="home-content">
        <div class="home-half">
        <h2>Mission</h2>
        <p>General Issue exists to serve veteran-owned small businesses.  From SEO to PPC and beyond, we're here to help you grow your own
        slice of the American dream.  Oh, and we also give back 10% of our profits to veteran's causes. </p>
    </div>
    <div class="home-half">
        <h2>10% to Veterans</h2>
        <p>We give back 10% of our profits to local and national Veteran's organizations, including:
        </p>
        <ul>
            <li>The Wounded Warrior Project</li>
            <li>The Iraq and Afghansitan Veteran's Association</li>
            <li>The Veterans of Foreign Wars</li>
        </ul>
    </div>
</div>
<div class="home-content">
    <div class="home-half">
        <h2>Services Guarantee</h2>
        <p>We stand behind our services with a 100% satisfaction guarantee.  If within 90 days of onboarding with us you aren't seeing
        the best ROI for your marketing dollar you've ever experienced, we'll discount your monthly fees by 50% until you do.</p>
    </div>
    <div class="home-half">
        <h2>History</h2>
        <p>Our company started in 2013, but our history goes back much further than that.  Since entering the Army in 2007, and especially
        upon his exit, our founder Lewis Vine, has dreamed of continuing to give back to America through supporting veteran's causes.  After
        running a successful contracting company, he knew the challenges many small businesses had in finding a trustworthy, competent, and
        reasonably-priced marketing company to partner with.  So he started General Issue.</p>
    </div>
</div>
<div class="home-content">
    <div class="home-half">
        <h2>Location & Service Area</h2>
        <p>We're located in the Appalachian town of Boone in Western North Carolina, but we leverage social media, Skype, GoToMeeting and 
        other resources to assist clients from Washington to Florida.</p>
    </div>
    <div class="home-half">
        <h2>Hours</h2>
        <p> Monday - Friday, 10:00 EST - 6:00 EST</p>
        <p> For our west coast clients, we schedule after-hours meetings & consultations by request.</p>
    </div>
</div>