<h1 class="page-heading">Contact Us:</h1>
<div class="contact-page">
    <form class="contact-form">
        <div class="form-group">
            <h3>Contact Info:</h3>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Phone Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your phone number">
                    <small class="form-text text-muted">Neither will we share your phone number.</small>
                </div>
            </div>
        </div>
            <h3>Project Info:</h3>
            <div class="form-group">
                <label> Tell us about your project</label>
                <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Tell us a bit about your vision"></textarea>
            </div>
            <div class="form-bottom row">
                <fieldset id="completion" class="form-group col-md-6">
                    <label>Which best describes your business:</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="completion" id="completion1" value="option1">
                            Just getting started
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="completion" id="completion2" value="option2">
                            Need a new marketing strategy
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="completion" id="completion3" value="option3">
                            Need a new marketing company
                        </label>
                    </div>
                </fieldset>
                <fieldset id="projectneed" class="form-group col-md-6">
                    <label>What product are you most interested in?</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="projectneed" id="projectneed1" value="option1">
                            Branding & Strategy
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="projectneed" id="projectneed2" value="option2">
                            Search Engine Optimization (SEO)
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="projectneed" id="projectneed3" value="option3">
                            Pay-Per-Click (PPC)
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="projectneed" id="projectneed4" value="option3">
                            Social Media Marketing
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="next-step">
                <div class="next-step-1">
                    <h2>Next Step:</h2>
                </div>
                <div class="next-step-2">
                    <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                </div>
                <div class="next-step-3">
                    <h3>Initial Consultation:</h3>
                    <p>We'll reach out to you within 24 hours to discuss your marketing goals and needs.</p>    
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

