<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="contact-form">
            <div class="form-group" style="margin-bottom: 50px">
                <h3>Contact Info:</h3>
                <div class="form-group" style="margin-bottom: 20px">
                    <label>Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                    <label>Phone Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your phone number">
                    <small class="form-text text-muted">Neither will we share your phone number.</small>
                </div>
            </div>
    
                <h3>Project Info:</h3>
                <div class="form-group" style="margin-bottom: 50px">
                    <label> Tell us about your project</label>
                    <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Tell us a bit about your organization's needs"></textarea>
                </div>
                <div class="row">
                    <fieldset id="completion" class="form-group col-md-6">
                        <label>Ideal Project Completion:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="completion" id="completion1" value="option1">
                                Last week!
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="completion" id="completion2" value="option2">
                                Within 1 - 2 months
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="completion" id="completion3" value="option3">
                                Within 3+ months
                            </label>
                        </div>
                    </fieldset>
                    <fieldset id="projectneed" class="form-group col-md-6">
                        <label>Project Need:</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="projectneed" id="projectneed1" value="option1">
                                New Website
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="projectneed" id="projectneed2" value="option2">
                                New functionality on existing website
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="projectneed" id="projectneed3" value="option3">
                                Design of existing website
                            </label>
                        </div>
                    </fieldset>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>