<%= render 'layouts/hero' %>
<div class="container">
    <aside><%= render 'layouts/aside' %></aside>
    <main>
        <h1>Because contractors and craftsmen deserve a better website.</h1>
        <section class="welcome">
            <div class="welcome-heading">
                <h2>Website Packages</h2>
                <h4>Starting at $3999</h4>
            </div>
            <div class="welcome-column one">
                <div><i class="ion ion-map" aria-hidden="true"></i></div>
                <h4>Starting out?</h4>
                <p>A simple & professional online footprint may be in order.</p>
            </div>
            <div class="welcome-column one">
                <div><i class="ion ion-arrow-graph-up-right" aria-hidden="true"></i></div>
                <h4>Expanding your online presence?</h4>
                <p>From selling online to a more engaged customer experience.</p>
             </div>
        </section>
        <section class="welcome">
            <div class="welcome-heading">
                <h2>Excellence is standard issue</h2>
                <p>Included in every single one of our custom websites.</p>    
            </div>
            <div class="welcome-column one">
                <div><i class="fa fa-search" aria-hidden="true"></i></div>
                <h4>SEO on Every Page</h4>
                <p>Google keywords hard-coded under the hood.</p>
            </div>
            <div class="welcome-column one">
                <div><i class="fa fa-mobile" aria-hidden="true"><i class="fa fa-tablet" aria-hidden="true"></i><i class="fa fa-desktop" aria-hidden="true"></i></i></div>
                <h4>100% Responsive Design</h4>
                <p>Your website will look great on any device</p>
            </div>
        </section>
        <section class="welcome">
            <div class="welcome-heading">
                <h2>Next Step:</h2>
                <p>Give us a call or fill out a form</p>
            </div>
            <div class="welcome-column one">
                <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                <h4>Contact Us</h4>
                <p>From initial consultation to contract signing, we'll review your website goals, target audience,
                and talk design</p>
            </div>
            <div class="welcome-column one">
                <div><i class="fa fa-exchange" aria-hidden="true"></i></div>
                <h4>Initial Discovery</h4>
                <p>From initial consultation to contract signing, we'll review your website goals, target audience,
                and talk design</p>
            </div>
        </section>
    </main>
</div>