<%= render 'layouts/nav' %>
<div class="container">
    <aside><%= render 'products/products' %></aside>
    <main>
        <h1>Our 5 Step Process: Start to Finish</h1>
        <section class="process">
            <div class="process-heading">
                <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                <h4>Discovery</h4>
            </div>
            <div class="process-content">
                <h4>Initial Consultation</h4>
                <p>Review of business goal's for the webite, your industry, target client, & budget.  We'll review our process, design options, and pricing.</p>
            </div>
            <div class="process-content">
                <h4>Mockup</h4>
                <p>Our initial design ideas; rrough sketch of your layout and pages, and one prototype page.  For the Artisan package, 
                this is a product page.  For the Craftsman package, it is generally a project page.</p>
            </div>
        </section>
        <section class="process">
            <div class="process-heading">
                <div><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                <h4>Design</h4>
            </div>
            <div class="process-content">
                <h4>Prototyping</h4>
                <p>Full implementation of the mockups.  We'll incorporate your business' style (color scheme, fonts, and logos, etc) into a full PDF workup of your site.</p>
            </div>
            <div class="process-content">
                <h4>Final Approval</h4>
                <p>We'll wait to receive a final thumbs up on the design to proceed to development.</p>
            </div>
        </section>
        <section class="process">
            <div class="process-heading">
                <div ><i class="fa fa-keyboard-o" aria-hidden="true"></i></div>
                <h4>Development</h4>
            </div>    
            <div class="process-content2">
                <p>At this stage of the process, regular communication back-and-forth will mostly consist of giving you status updates on your project.</p>
                <h4>We may ask for:</h4><p>More text and image content to really make things pop.</p>
            </div>
        </section>
        <section class="process">
            <div class="process-heading">
                <div style="font-size: 5rem;"><i class="fa fa-rocket" aria-hidden="true"></i></div>
                <h4>Launch</h4>
            </div>
            <div class="process-content">
                <h4>Final Testing</h4>
                <p>Perform a final check, including touch up editing of text and image content, testing functionality, and site performace.</p>
            </div>
            <div class="process-content">
                <h4>CMS Tutorial</h4>
                <p>For the Craftsman & Artisan, a one hour CMS tutorial to show you
                how to easily update special offers, the gallery, and blog posts.</p>
            </div>
        </section>
        <section class="process">
            <div class="process-heading">
                <div ><i class="fa fa-phone" aria-hidden="true"></i></div>
                <h4>Follow Up</h4>
            </div>
            <div class="process-content">
                <h4>30 Day Call</h4>
                <p>Before we're done, we'll schedule a time to check in to ensure everything is working as expected.</p>
            </div>
            <div class="process-content">
                <h4>90 Day Call</h4>
                <p>Another follow-up three months after project completion.  We'll fix any bugs for FREE in the first 90 days.</p>
            </div>
        </section>
    </main>
</div>