<%= render 'layouts/nav' %>
<div class="container">
    <aside><%= render 'layouts/aside' %></aside>
    <main>
        <h1>Excellence is Standard Issue</h1>
        <section class="standard">
            <div class="standard-heading">
                <div><i class="fa fa-search" aria-hidden="true"></i></div>
                <h3>SEO on Every Page</h3>
                <p>Google keywords hard-coded under the hood.</p>  
            </div>
            <div class="standard-content">
                <h3>What's SEO?</h3>
                <p>SEO standards for Search Engine Optimization.  SEO helps make your website more accessible to search engines, and thus,
                your customers.  There are numerous ways to improve your SEO: including creating relevant content that your customers like, paying for ads
                to drive customers to your site.  Often overlooked, however, is building key code into your website to help with SEO.  We research
                your businesses unique key-words for Google prior to starting every project, and include them on every page.</p>
            </div>
        </section>
        <section class="standard">
            <div class="standard-heading">
                <div><i class="fa fa-mobile" aria-hidden="true"><i class="fa fa-tablet" aria-hidden="true"></i><i class="fa fa-desktop" aria-hidden="true"></i></i></div>
                <h3>100% Responsive Design</h3>
                <p>Your website will look great on any device</p>
            </div>
            <div class="standard-content">
                <h3>What's SEO?</h3>
                <p>SEO standards for Search Engine Optimization.  SEO helps make your website more accessible to search engines, and thus,
                your customers.  There are numerous ways to improve your SEO: including creating relevant content that your customers like, paying for ads
                to drive customers to your site.  Often overlooked, however, is building key code into your website to help with SEO.  We research
                your businesses unique key-words for Google prior to starting every project, and include them on every page.</p>
            </div>
        </section>
    </main>
</div>