<div class="services-image">
    <%=image_tag('infographic') %>
</div>
<h1 class="page-heading">Services</h1>
<div class="home-content">
    <div class="home-third">
        <h2>Digital Branding & Strategy</h2>
        <p>Everything starts with a clearly thought of strategy.  Starting your business was no different.  Now that your up and running, we'll take you 
        to the next level, identifying the following key points:</p>
        <ul>
            <li>Target audience persona build</li>
            <li>Campaign Planning</li>
            <li>Targeted Testing</li>
        </ul>
    </div>
    <div class="home-third">
        <h2>Search Engine Optimization</h2>
        <p>A great website is only the start of SEO.  To truly gain the exposure your business deserves, you need to consciously make efforts to improve your
        business' rankings.  Our initial onboarding includes a review of your existing websites SEO relevance and improvements.  From there, we'll build internal
        links, build specific ad campaigns to improve rankings, and watch your ranking take off.</p>
    </div>
    <div class="home-third">
        <h2>Pay-Per-Click<br>(PPC)</h2>
        <p>Our pay-per-click (PPC) campaigns are specificially designed to have both immediate and long-term results.  Our PPC campaigns include:</p>
        <ul>
            <li>Both display and search advertising.</li>
            <li>Monthly reviews of target-metrics</li>
            <li>Price per leads averaging 25% then industry standards</li>
        </ul>
    </div>
    <div class="home-third">
        <h2>Social Media Marketing</h2>
        <p>It goes without saying that social media marketing including Facebook, Twitter, and Google+ is key to the success of any online marketing campaign.  We'll
        craft ads specifically designed for social media, because we realize each of your advertising channels requires a different strategy.  On top of that, we go the
        extra-mile and help with all your online reviews.</p>
    </div> 
