@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "normalize-rails";
@import 'ionicons';

// COLOR VARIABLES:
    $light-tan: #FFF8E3;
    $gray-tan: #7F7C72;
    $tan: #CCB879;
    $font: 'Stardos Stencil', cursive;

// WHOLE PAGE STYLES:

    h1, h2, h3, h4, header li, footer li {
        font-family: $font;
        font-weight: 900;
    }
    p, li {
        font-size: 1.5rem;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url(camo2.jpg);
    }
    
    .container {
        display: flex;
        background-color: $light-tan;      
        opacity: .85;
        width: 100%;
        justify-content: center;
    }

// HEADER AND FOOTER:

    header, footer {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .85);
        color: white;
        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            list-style: none;
            li{
                font-size: 1.5rem;
                .fa {
                    font-size: 2rem;
                }
            }
            
        }
        a{
            color: white;
            text-decoration: none;
        }
        
    }
    
    header {
        height: 40rem;
        h1{
            color: white;
            margin-top: 200px;
            text-align: left;
            padding-left: 50px;
        }
        ul {
            flex: 1;
            justify-content: flex-end;
            margin-bottom: 0;
            li {
                margin-bottom: 0;
                padding: 2rem;
                &:nth-child(n+6):hover {
                    background-color: $light-tan;
                    border-radius: 5px 0 0 0;
                    a{
                        color: black;
                    }
                }
            }
        }
    }

    .hero {
        height: 100%;
        width: 100%;
        background-image: url(eisenhower.jpg);
        z-index: 10;
        background-size: cover;
    }

    footer {
        padding: 1rem 0;
        align-items: center;
        .footer-logo{
            padding-bottom: 1reml;
        }
        ul{
            justify-content: center;
            li {
                padding-right: 3rem;
                a:hover {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

//BODY CONTENT:

    aside {
        flex: 1;
        padding: 2rem 0;
        section{
            margin-bottom: 5rem;
            h2{
                padding-bottom: 2rem;
            }
            div{
                display: flex;
                font-size: 3rem;
                padding-right: 3rem;
            }
        }
    }

    main{
        flex: 4;
        padding: 1rem 0;
        h1{
            margin: 3rem auto;
            width: 90%;
        }
        article{
            margin: 3rem auto;
            padding: 1rem;
            width: 80%;
            display: flex;
            h3{
                flex: 3;
            }
            p{
                flex: 5;
            }
        }
        section{
            margin: 3rem auto;
            width: 80%;
            padding: 1rem;
            background: $tan;
            .page-heading{
                font-size: 3rem;
            }
            .content-column{
                display: flex;
                justify-content: center;
                div{
                    padding: 1rem;
                }
            }
        }
    }
    
    .logo{
        height: 100px;
        width: 100px;
    }

//PRODUCTS PAGE

    .template{
        display: flex;
        padding: 3rem 0;
        .template-left{
            padding: 0 3rem;
            flex: 2;
            border-right: 2px dotted black;
            .template-left-top{
                display: flex;
                div{
                    padding-left: 3rem;
                }
            }
        }
        .template-right{
            padding: 0 3rem;
            flex: 3;
            .template-right-inside{
                display: flex;
                padding: 1rem;
                ul{flex: 3;}
            }
            h3{
                margin: 0;
                flex: 1;
            }
        }
    }
    .products-management{
        display: flex;
        align-items: center;
        .products-management-left{flex: 2;}
        .products-management-right{flex: 3;}
    }

//PROCESS PAGE:

    .process{
        display: flex;
        justify-content: center;
        .process-heading{
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-right: 2px dotted black;
            padding: 3rem;
            div{
                font-size: 5rem;
            }
        }
        .process-content{
            flex: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
        }
        .process-content2{
            flex: 6;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 4rem;
        }
        #develop{
            justify-content: center;
        }
    }

//HOME PAGE:
    .welcome{
        display: flex;
        .one{
            flex: 1;
        }
        .two{
            flex: 2;
        }
        .welcome-heading{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 3rem;
            border-right: 2px dotted black;
        }
        .welcome-column{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 5rem;
            div{
                font-size: 5rem;
            }
        }
    }

//ABOUT
    .about{
        display: flex;
        .about-heading{
            flex: 1;
            border-right: 2px dotted black;
            display: flex;
            padding: 0 3rem;
            flex-direction: column;
            justify-content: center;
        }
        .about-content{
            flex: 4;
            padding: 0 3rem;
        }
        .image{
            text-align: center;
        }
        .flex{
            display: flex;
            align-items: center;
        }
    }
//STANDARD
    .standard{
        display:flex;
        .standard-heading{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 3rem;
            border-right: 2px dotted black;
            div{
                font-size: 5rem;
            }
        }
        .standard-content{
            padding: 3rem;
            flex: 4;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3, p{
                padding: 2rem;
            }
        }
    }

    
