@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "normalize-rails";
@import 'ionicons';

// CSS Reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// COLOR VARIABLES:
    $light-tan: #FFF8E3;
    $gray-tan: #7F7C72;
    $tan: #CCB879;
    $font: 'Stardos Stencil', cursive;

// WHOLE PAGE STYLES:

    h1, h2, header li {
        font-family: $font;
    }

    body{
        height: 100%;
        min-height: 1000px;
    }

//LEFT NAV:

    header{
        width: 20%;
        position: fixed;
        height: 100%;
        min-height: 1000px;
        background-image: url(camo2.jpg);
        .container{
            padding: 2rem;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.9);
            .logo{
                margin: 0 auto;
                height: 100px;
                width: 100px;
            }
            ul{
                margin: 0 auto;
                width: 80%;
                
            }
            li{
                list-style: none;
                font-size: 1rem;
            }
            .links{
                padding-top: 2rem;
                li{
                margin: 1rem 0;
                padding: 1rem 0;
                border-bottom: 1px solid white;
                &:hover{
                    transform: scale(1.1);
                    transition: transform 300ms;
                    }
                }
            }
            .social{
                display: flex;
                padding-top: 2rem;
                li{
                    padding: 0 1rem;
                }
            }
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: white;
                    text-decoration: none;
                }
            }
            div{
                color: white;
            }
        }
    }
    
//BODY CONTENT:

    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.25rem;
    }

    .main-content{
        width: 80%;
        float: right;
        background: $tan;
        padding: 2rem;
        min-height: 1000px;
    }

    .hero {
        width: 80%;
        margin: 0 auto;
        background-image: url('eisenhower');
        background-size: 100%;
        outline: 1px solid black;
        outline-offset: 3px;
        .filter{
            background: rgba(0,0,0,.8);
            height: 500px;
            width: 100%;;
            color: white;
            h1 {
                padding-top: 20rem;
                width: 95%;
            }
            h2{
                padding-top: 1rem;
                width: 70%;
            }
            h1, h2{
                padding-left: 2rem;
            }
        }
    }  
    .hero.services{
        background-image: url('infographic');
    }
    .home-content{
        padding: 2rem 0;
        display: flex;
        .home-third, .home-half{
            flex: 1;
            margin: 1rem;
            h2{
                border-bottom: 1px solid black;
                margin-bottom: 1rem;
            }
            ul{
                padding-top: 1rem;
                list-style: initial;
                margin-left: 1rem;
            }
        }
    }

    .home-testimonial{
        display: flex;
        margin: 1rem;
        .image{
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            img{
                height: 50px;
                width: 50px;
                border-radius: 25px;
            }
        }
        .text{
            flex: 7;
            h2{
                border-bottom: 1px solid black;
                margin-bottom: .5rem;
            }
        }
    }

    .home-blog{
        display: flex;
        margin: 1rem;
        h2{
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .text{
            flex: 7;
            h3{
                border-bottom: 1px solid black;
                margin-bottom: .5rem;
            }
        }
    }


    .services-image{
        width: 100%;
        text-align: center;
        img{
            width: 700px;
            outline: 1px solid black;
            outline-offset: 3px;
        }
    }

    .page-heading{
        padding: 2rem 1rem 0 1rem;
    }
    
    .contact-page{
        width: 60%;
        margin: 2rem auto;
        background-image: url('eisenhower');
    }
    .contact-form{
        background: rgba(0,0,0,.8);
        width: 100%;
        margin: 0 auto;
        padding: 2rem;
        color: white;
        h3{
            margin-bottom: 2rem;
        }
        label{
            margin-bottom: 1rem;
        }
    }
    
    .next-step{
         display: flex; 
         border: 1px solid white; 
         padding: 1rem; 
         border-radius: 5px; 
         margin-bottom: 1rem;
         .next-step-1{
             flex: 1;
         }
         .next-step-2{
             flex: 1;
             font-size: 3rem;
         }
         .next-step-3{
             flex: 4;
             h3{
                 display: inline;
             }
         }
    }

//BLOG
.blog{
    padding: 2rem 0;
    h2{
        margin-bottom: 2rem;
    }
    .blog-latest{
        margin: 1rem;
        .blog-list{
            border-top: 1px solid black;
            padding: 2rem 0;
        }
        .blog-show{
            padding: 2rem;
        }
    }
    .blog-admin-panel{
        width: 100%;
        margin: 1rem;
        table{
            padding: 1rem;
        }
        th, td {
            padding: 1rem;
            border: 1px solid black;
        }
    }
}
