<div style="width: 80%; padding 1rem; margin: 0 auto; display: flex; flex-direction: column;">
    <section style="padding-bottom: 5rem;">
      <h3>Our Three Guarantees:</h3>
        <ul style="padding: 0 2rem;">
          <li>100% Satisfaction</li>
          <li>Two weeks to Launch</li>
          <li>Ninety days Glitch Free</li>
        </ul>
    </section>
    <section style="padding-bottom: 5rem;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h3>Excellence is standard issue</h3>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <div style="font-size: 3rem;"><i class="fa fa-search" aria-hidden="true"></i></div>
                <h4>SEO on Every Page</h4>
            </div>
            <p>Google keywords hard-coded under the hood.</p>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <div style="font-size: 3rem;"><i class="fa fa-mobile" aria-hidden="true"><i class="fa fa-tablet" aria-hidden="true"></i><i class="fa fa-desktop" aria-hidden="true"></i></i></div>
                <h4>100% Responsive Design</h4>
            </div>
            <p>Your website will look great on any device</p>
        </div>
    </section>
    <section>
        <h3>Need a fully custom solution?</h3>
        <p>Give us a call for requirements that are beyond our packages. Our 
        custom bidding starts at $3999, with final estimates often higher than our 
        most comprehensive package. We know this isn't cheap; we specifically package 
        the most common business needs together to save you money.</p>
    </section>
</div>