        <h1 style="border-top: 3px solid black; padding-top: 3rem;">Monthly Website Management:</h1>
        <section class="products-management">
            <div class="products-management-left">
                <h2>Standard</h2>
                <h4>Starts at $149 / month</h4>
            </div>
            <div class="products-management-right">
                <ul>
                    <li>25 Points</li>
                    <li>Monthly SEO & Analytics Review and Report.</li>
                </ul>
            </div>
        </section>
        <section class="products-management">
            <div class="products-management-left">
                <h2>Comprehensive</h2>
                <h4>Starts at $249 / month</h4>
            </div>
            <div class="products-management-right">
                <ul>
                    <li>50 Points</li>
                    <li>Bi-weekly SEO & Analytics Review and Report.</li>
                </ul>
            </div>
        </section>
        <section class="products-management">
            <div class="products-management-left">
                <h2>Points, explained:</h2>
                <p>Points help standardize how much time a specific update task takes.  You're free to mix and match points in any way you'd prefer:</p>
            </div>
            <div class="products-management-right">
                <ul style="flex: 3;">
                    <li>6 Points: Input Blog post.</li>
                    <li>3 Points: Add or delete an image to the gallery.</li>
                    <li>10 Points: Update a special offer.</li>
                    <li>3 Points: Add or delete text.</li>
                    <li>10+ Points: Add or change styling or content.</li>
                </ul>
            </div>
        </section>